.Header {
  background-color: #9fc5e8;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
}

.Header-link {
  width: 100px;
  min-height: 20px;
  margin: 10px 10px 10px 0;
  padding: 5px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
}

.Header-selected {
  display: none;
}

.Header-browse{
  border: 1px solid black;
}

.Header-cart {
  background-color: var(--primary);
}